<div class="container">
    <div id="head">
        <h3>Editable List</h3>
        <button mat-raised-button (click)="openDialog()"> <i class="material-icons">file_copy</i>Save Csv</button>
    </div>
    <!-- column.displayable -->
    <mat-table [dataSource]="customers" multiTemplateDataRows
           class="mat-elevation-z8">
      <ng-container matColumnDef="{{column.viewPropCamelCase}}" *ngFor="let column of displayedColumns" >
        <mat-header-cell *matHeaderCellDef> <span class="headCell" (click)="orderBy(column.viewProp)">{{column.displayProp}}</span>  </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            <app-edit-inline *ngIf="column.editable" [data]='element[column.viewPropCamelCase]' [type]="column.type" (focusOut)='saveCost(element.id, column, $event)'></app-edit-inline>
            <span *ngIf="!column.editable">{{element[column.viewPropCamelCase]}}</span>
        </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="{{column.viewPropCamelCase[0]}}" *ngFor="let column of displayedColumns">
          <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
          <mat-cell *matCellDef="let element"> Edit </mat-cell>
        </ng-container>
      
      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let element; columns: columnsToDisplay;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </mat-row>   
      
    </mat-table>
    
    <mat-paginator [length]="length"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="pageSizeOptions"
                  (page)="pageChanged($event)">
    </mat-paginator>
    
</div>